.logo-image {
  height: 45px;
}

.home-container {
  padding: 0px 40px;
}
.header-container {
  position: sticky;
  top: 0;
  padding: 20px 100px 20px 100px;
  margin: 0px -60px 0px -40px;
  z-index: 99;
}

.header-container.white-bg {
  background: var(--color-white);
}

.menu {
  color: var(--color-menu-font);
  font-size: 14px;
}

.about-wrapper {
  margin-top: 70px;
  margin-bottom: 250px;
  margin-left: 200px;
}

.about-wrapper h1 {
  font-weight: 300;
  line-height: 60px;
  font-size: 50px;
}

.about-wrapper h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #4b4b4b;
}

.about-wrapper .yellow-container {
  background: var(--color-primary-yellow);
  height: 683px;
  width: 1700px;
  border-radius: 470px;
  transform: rotate(315deg) translateX(55%) translateY(50%);
  z-index: -1;
  overflow: hidden;
  right: 0;
  top: 0;
  position: absolute;
}

.about-wrapper .truck-img {
  transform: rotate(45deg) translate(40px, 41px);
}

.know-wrapper {
  position: relative;
}
.know-wrapper .yellow-container {
  background: var(--color-secondary-yellow);
  height: 843px;
  width: 564px;
  border-radius: 217px;
  transform: rotate(241deg) translateX(15%) translateY(8%);
  z-index: -1;
  overflow: hidden;
  left: -30px;
  position: absolute;
  opacity: 0.5;
}

.know-wrapper h1 {
  color: var(--color-menu-font);
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
  position: relative;
}

.know-wrapper h1::after {
  content: "";
  background: var(--color-primary-yellow);
  width: 50px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.know-wrapper h2 {
  color: #4b4b4b;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  width: 90%;
  margin-top: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.know-wrapper .homepics-wrapper {
  margin-right: 100px;
  margin-left: 130px;
}

.homepic1 {
  height: 200px;
  width: 300px;
  border-radius: 100px 100px 5px 100px;
}

.homepic2 {
  height: 250px;
  width: 400px;
  border-radius: 5px 120px 120px 120px;
  margin-left: 130px;
}

.partner-wrapper {
  margin-bottom: 250px;
}

.partner-wrapper .yellow-container {
  position: absolute;
  background: var(--color-secondary-yellow);
  opacity: 0.5;
  width: 900px;
  height: 400px;
  border-radius: 230px;
  transform: rotate(-10deg);
  z-index: -1;
}

.partner-wrapper h1 {
  color: var(--color-menu-font);
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  position: relative;
  display: block;
  margin-top: 30px;
}

.partner-wrapper h1::after {
  content: "";
  background: var(--color-primary-yellow);
  width: 50px;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -3px;
}

.partner-wrapper h2 {
  color: #4b4b4b;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.client-img {
  height: 100px;
  width: 100px;
}

.client-container {
  margin-top: 40px;
}

.customer-partner-tab-wrapper h1 {
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
  position: relative;
  display: block;
}

.customer-partner-tab-wrapper {
  margin-bottom: 200px;
  margin-top: 250px;
}

.customer-partner-tab-wrapper .tab-wrapper {
  margin-bottom: 20px;
}

.customer-partner-tab-wrapper h1::after {
  content: "";
  background: var(--color-primary-yellow);
  width: 50px;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -3px;
}

.customer-partner-tab-wrapper ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 50px;
}

.customer-partner-tab-wrapper li {
  height: 50px;
  width: 200px;
  border-radius: 25px 0 0 5px;
  background-color: transparent;
  color: var(--color-menu-font);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.customer-partner-tab-wrapper li:nth-child(2) {
  border-radius: 0 5px 25px 0;
}

.customer-partner-tab-wrapper li.active {
  background-color: var(--color-primary-yellow);
  color: var(--color-menu-font);
  border: 2px solid var(--color-primary-yellow);
}

.customer-partner-tab-wrapper .customer-options-img {
  height: 200px;
}

.customer-partner-tab-wrapper .partner-banner-img {
  height: 160px;
  width: 300px;
  margin-right: 40px;
  border-radius: 100px 100px 5px 100px;
}

.customer-partner-tab-wrapper p {
  margin-bottom: 40px;
}

.customer-partner-tab-wrapper .service-partner-container {
  max-width: 400px;
}

.customer-rating-wrapper {
  position: relative;
  margin-top: 40px;
  margin-bottom: 200px;
}
.customer-rating-wrapper .grey-background {
  content: "";
  position: absolute;
  top: -20px;
  border-radius: 0 221px 221px 0;
  background-color: #f6f5fa;
  width: 66%;
  height: 120%;
  z-index: -1;
  left: -40px;
}

.customer-rating-wrapper h1 {
  color: #000000;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  position: relative;
  display: block;
}

.customer-rating-wrapper h1::after {
  content: "";
  background: #f9c935;
  width: 50px;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -3px;
}

.customer-rating-wrapper .rating-star {
  height: 20px;
  width: 20px;
}

.customer-rating-wrapper .reviews-wrapper {
  width: 80%;
  margin-top: 60px;
}

.customer-rating-wrapper .rating {
  margin-bottom: 30px;
  padding: 0px 10px;
}

.footer-wrapper {
  background: var(--color-primary-black);
  padding: 40px 40px;
  margin: 0px -40px;
  color: var(--color-white)
}

.footer-wrapper .play-store-img {
  height: 40px;
  width: 133px
}

.footer-wrapper .follow-us-img {
  height: 60px;
  width: 215px;
}
