<div fxLayout="column" class="home-container">
  <div class="header-container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <img src="/assets/images/logo.png" alt="logo" class="logo-image" />
      <div
        fxLayout="row"
        fxLayoutGap="25px"
        class="menu"
        fxLayoutAlign="start center"
      >
        <div *ngFor="let item of menuItems">{{ item }}</div>
        <button class="corner-btn black-btn">Download App</button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" class="about-wrapper">
    <div fxFlex="40" fxLayout="column" class="">
      <h1>Leading 24/7 roadside assistance company</h1>
      <h2>
        ReadyAssist provides 24/7 On-Spot Breakdown Support, Flat Tyre Repairs,
        fixes for starting problems & towing service to customers through our
        annual subscriptions & on-demand.
      </h2>
      <div fxLayout="row" fxLayoutGap="15px">
        <button class="corner-btn yellow-btn big-btn">
          Download ReadyAssist
        </button>
        <button class="corner-btn black-btn big-btn">Book Service</button>
      </div>
    </div>
    <div class="yellow-container">
      <img src="/assets/images/truck.png" alt="" class="truck-img" />
    </div>
  </div>
  <div fxLayout="row" class="know-wrapper">
    <div class="yellow-container"></div>
    <div fxLayout="column" fxLayoutGap="30px" class="homepics-wrapper">
      <img src="/assets/images/homepic1.jpg" alt="" class="homepic1" />
      <img src="/assets/images/homepic2.jpeg" alt="" class="homepic2" />
    </div>
    <div fxFlex="40" fxLayout="column">
      <h1>Know Us Better</h1>
      <h2>
        ReadyAssist intends to be the best roadside assistance provider in India
        by addressing the real time vehicle breakdown problems of customers
        using deep machine learning, data intelligence and operations efficiency
      </h2>
      <div fxLayout="row" fxLayoutGap="15px">
        <button class="corner-btn yellow-btn big-btn">Read more here</button>
      </div>
    </div>
  </div>
  <div
    fxLayout="column"
    class="customer-partner-tab-wrapper"
    fxLayoutAlign="start center"
  >
    <h1>What's in it for you</h1>
    <div class="tab-wrapper">
      <ul>
        <li (click)="selectedTab = 0" [ngClass]="{ active: selectedTab == 0 }">
          Customers
        </li>
        <li (click)="selectedTab = 1" [ngClass]="{ active: selectedTab == 1 }">
          Partners
        </li>
      </ul>
    </div>
    <img
      *ngIf="selectedTab == 0"
      src="/assets/images/customer_options.png"
      class="customer-options-img"
    />
    <div *ngIf="selectedTab == 1" fxLayout="row" fxLayoutAlign="start end">
      <img src="/assets/images/partner_banner.jpg" class="partner-banner-img" />
      <div fxLayout="column" fxLayoutAlign="start start" class="service-partner-container">
        <h2>Be Our Service Partners</h2>
        <p>
          Become our RSA partner & get assured business & take your business next
          level with us. Choose your path to partnership & get all the support you
          need to succeed.
        </p>
        <button class="corner-btn black-btn">Earn With Us</button>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="partner-wrapper" fxLayoutAlign="start center">
    <div class="yellow-container"></div>
    <h1>Our Impact</h1>
    <h2>To the below list of our valuable clients & more</h2>
    <div fxLayout="row" fxLayoutGap="25px" class="client-container">
      <img src="/assets/images/client1.svg" class="client-img" alt="" />
      <img src="/assets/images/client2.svg" class="client-img" alt="" />
      <img src="/assets/images/client3.svg" class="client-img" alt="" />
      <img src="/assets/images/client4.svg" class="client-img" alt="" />
      <img src="/assets/images/client5.svg" class="client-img" alt="" />
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center" class="customer-rating-wrapper">
    <div class="grey-background"></div>
    <h1>Straight from the Customer's heart</h1>
    <div fxLayout="row wrap" class="reviews-wrapper">
      <div *ngFor="let review of reviews" class="rating" fxFlex="33" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
        <span class="bold">{{review.name}}</span>
        <div fxLayout="row" fxLayoutGap="5px"><img *ngFor="let i of [1,2,3,4,5]" src="/assets/images/star.png" alt="" class="rating-star"></div>
        <div class="small-text">{{review.comment}}</div>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="footer-wrapper">
    <div fxFlex fxLayout="column" fxlAY fxLayoutGap="20px">
      <div class="bold">Get App On:</div>
      <img src="/assets/images/play_store.svg" alt="" class="play-store-img">
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="20px">
      <div class="bold">Quick Links</div>
      <div class="small-text">My Subscription</div>
      <div class="small-text">Activate Subscription</div>
      <div class="small-text">About Us</div>
      <div class="small-text">Contact Us</div>
      <div class="small-text">Join</div>
      <div class="small-text">Privacy Policy</div>
      <div class="small-text">Terms & Conditions</div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="20px">
      <div class="bold">Our Services</div>
      <div class="small-text">Puncture Repair</div>
      <div class="small-text">Battery Jump Start</div>
      <div class="small-text">On-Spot Minor Repair</div>
      <div class="small-text">Towing Service</div>
      <div class="small-text">Emergency Fuel</div>
      <div class="small-text">Key-lock Assistance</div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="20px">
      <div class="bold">Follow Us</div>
      <img src="/assets/images/follow_us.png" alt="" class="follow-us-img">
    </div>
  </div>
</div>
