/* You can add global styles to this file, and also import other style files */

:root
{
  --color-primary-black: #000;
  --color-primary-yellow: #f9c935;
  --color-secondary-yellow: #F8EFBC;
  --color-white: #fff;
  --color-menu-font: #000; 
}

body {
    font-family: "Poppins", sans-serif !important;
    color: #333;
    overflow-x: hidden;
    margin: 0px;
    
}

/* fonts */
.bold {
  font-weight: 600;
}

.small-text {
  font-size: 14px
}

/* margins */
.mb-30 {
  margin-bottom: 30px
}

/* buttons */
.corner-btn {
  font-weight: 600;
  font-size: 16px;
  padding: 7px 20px;
  outline: 0;
  border: 0;
}

.black-btn {
  background: var(--color-primary-black);
  border-radius: 30px 30px 5px 30px;
  color: var(--color-white);
}

.yellow-btn {
  background-color: var(--color-primary-yellow);
  border-radius: 30px 30px 30px 5px;
  color: var(--color-primary-black);
}

.big-btn {
  padding: 15px 25px !important;
}